@import url('https://fonts.googleapis.com/css?family=Indie+Flower&display=swap');

@font-face {
    font-family: 'SourceCodePro-Light';
    src: url('https://cdnjs.cloudflare.com/ajax/libs/topcoat/0.8.0/font/SourceCodePro-Light.otf') format('opentype');
}

html {

    background-color:white
}

#tgui-box{
    writing-mode: horizontal-tb;
    width: 600px;
    height: 200px;
    background-color: ghostwhite;
    font-size: 24px;
    font-family: 'SourceCodePro-Light';
}


.preLoadFontsDiv{
    z-index: -9999999;
    position: fixed;
    left: -1000px;
    color: pink;
    font-family: 'Indie Flower', cursive;
    opacity:0;

}

.leftAlign {
    text-align: left;
}


.centreAlign {
    text-align: center;
}

.rightAlign {
    text-align: right;
}

.bolded {
    color: red;
    font-weight: 600;
}

.font {
    font-family: 'Indie Flower', cursive;
}

.bold {
    font-weight: 600;

}

.tgui-red {
    color: red;
}

.tgui-y-underline .tgui-red {
    text-decoration: underline red solid;
}

.line-through .tgui-red {
    text-decoration: line-through red solid;
}

.tgui-blue {
    color: blue;
}

.tgui-y-underline .tgui-blue {
    text-decoration: underline blue solid;
}

.line-through .tgui-blue {
    text-decoration: line-through blue solid;
}

.tgui-y-underline {
    text-decoration: underline;
}

.tgui-n-underline {
    text-decoration: none;
}

.line-through {
    text-decoration: line-through;
}

.small-font {
    font-size: 16px;
}

.large-font {
    font-size: 48px;
}
