@import url('https://fonts.googleapis.com/css?family=Indie+Flower&display=swap');

@font-face {
    font-family: 'SourceCodePro-Light';
    src: url('https://cdnjs.cloudflare.com/ajax/libs/topcoat/0.8.0/font/SourceCodePro-Light.otf') format('opentype');
}

/* Note that we are replacing spaces with underscore */
@font-face {
    font-family: 'American_Typewriter';
    src: url('assets/American Typewriter Regular/American Typewriter Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Zapfino';
    src: url('assets/Zapfino/zapfinoextraltpro/ZapfinoExtraLTPro.otf') format('opentype');
}

@font-face {
    font-family: 'Arial';
    src: url('assets/Arial.ttf') format('truetype');
}
html {

    background-color:white
}

#tgui-box{
    writing-mode: horizontal-tb;
    width: 600px;
    height: 320px;
    background-color: ghostwhite;
    font-size: 36px;
    font-family: 'Arial';
    /*font-family: 'Zapfino';*/
    /*font-family: 'American_Typewriter';*/
    /*font-family: 'SourceCodePro-Light';*/
    opacity: 0.9;
}

#tgui-box--marker {
    position: absolute;
    top: 10px;
    left: 10px;
    width: 220px;
    height: 150px;
    z-index: -10;
    background-color: red;
}


#styleRunBox {
    display: none;
}

#demoCanvas {
    width: 500px;
    height: 250px;
}

#styleRunData {
    padding: 25px;
    border: 1px solid grey;
    height: 150px;
}


.preLoadFontsDiv{
    z-index: -9999999;
    position: fixed;
    left: -1000px;
    color: pink;
    font-family: 'Indie Flower', cursive;
    opacity:0;

}

